@{
    ViewData["Title"] = "Criar Conta";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@model RedeSocial.Web.ViewModel.Account.AccountViewModel

<div class="row">
    <form asp-action="Create" class="form-login" asp-controller="Account" method="post" enctype="multipart/form-data">
        <div class="text-center">
            <img src="~/img/logoLogin.png" />
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label">Nome</label>
            <input asp-for="Name" type="text" class="form-control" />
            <span class="alert-danger" asp-validation-for="Name"> </span>
        </div>
        <div class="form-group">
            <label asp-for="Birthday" class="control-label">Data de Nascimento</label>
            <input asp-for="Birthday" type="date" class="form-control" />
            <span class="alert-danger" asp-validation-for="Birthday"> </span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label">Email</label>
            <input asp-for="Email" type="email" class="form-control" />
            <span class="alert-danger" asp-validation-for="Email"> </span>
        </div>
        <div class="form-group">
            <label asp-for="UserName" class="control-label">Usuário</label>
            <input asp-for="UserName" type="text" class="form-control" />
            <span class="alert-danger" asp-validation-for="UserName"> </span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label">Senha</label>
            <input asp-for="Password" type="password" class="form-control" />
            <span class="alert-danger" asp-validation-for="Password"> </span>
        </div>
        <div class="form-group">
            <label>Imagem de Perfil</label>
            <input type="file" class="form-control" name="File"  ID="file" accept="image/jpeg">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary btn-block">
                Criar Conta
            </button>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
