@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@model RedeSocial.Web.ViewModel.Account.LoginViewModel

<div class="row">
    <form asp-action="Login" class="form-login" asp-controller="Account" method="post" asp-route-returnurl="@ViewBag.ReturnUrl">
        <div class="text-center">
            <img src="~/img/logoLogin.png" />
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="form-group">
            <label asp-for="UserName">UserName</label>
            <input type="text" asp-for="UserName" class="form-control" placeholder="UserName" required autofocus>
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input type="password" asp-for="Password" class="form-control" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Entrar</button>
        <div class="text-center mt-3">
            @(Html.ActionLink("Esqueceu a senha?", "Reset"))
        </div>
    </form>
</div>
<div class="row">
    <form asp-action="CreateAccount" class="form-login" asp-controller="Account" method="get" asp-route-returnurl="@ViewBag.ReturnUrl">
        <button type="submit" class="btn btn-lg btn-success btn-block">Criar Conta</button>
    </form>
</div>
