@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}

@model RedeSocial.Web.ViewModel.Account.LoginViewModel

<div class="text-center">
    <h1 class="display-4">Login Horkut</h1>
</div>

<div asp-validation-summary="All" class="text-danger"></div>
<div class="row mt-5">
    <form id="form-signin" asp-action="Login" asp-controller="Account" method="post" asp-route-returnurl="@ViewBag.ReturnUrl">
        <img class="ml-2" src="~/img/logo_m.jpg">
        <label for="UserName" class="sr-only">UserName</label>
        <input type="text" id="UserName" class="form-control" placeholder="UserName" required autofocus>

        <label for="Password" class="sr-only">Password</label>
        <input type="password" id="Password" class="form-control" placeholder="Password" required>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        <div class="mt-3 mb-3">
            <a href="" class="text-center">Esqueceu a senha?</a>
        </div>
        <button class="btn btn-lg btn-success btn-block" type="submit">Criar Nova conta</button>
    </form>
</div>