@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutTimeline.cshtml";
}

<div class="row">
    <!-- post start -->
    <div class="col-md-12 grid-margin">
        <div class="card rounded">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <img class="img-xs rounded-circle"
                             src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
                        <div class="media-body ml-3">
                            <strong>Kenneth Frazier</strong>
                            <div class="text-muted small">3 days ago</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="mb-3 tx-14">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Accusamus minima delectus nemo unde quae recusandae assumenda.
                </p>
                <img class="img-fluid" src="~/img/flamengo_1.jpg" alt="">
            </div>
            <div class="card-footer">
                <div class="social-comment mt-3">
                    <div class="d-flex">
                        <img class="img-xs rounded-circle"
                             src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
                        <div class="media-body ml-2">
                            <form action="">
                                <textarea class="form-control"
                                          placeholder="Write comment..."></textarea>
                                <button type="submit" class="btn btn-sm btn-primary mt-1 float-right">Postar</button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="social-comment mt-3">
                    <div class="d-flex align-items-center">
                        <img class="img-xs rounded-circle"
                             src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
                        <div class="media-body ml-3">
                            <small class="text-primary"><strong>Andrew Williams</strong></small>
                            <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                        </div>
                    </div>
                    <div class="social-comment-body ml-4">
                        <p>
                            Many desktop publishing packages and web page editors now use Lorem
                            Ipsum as their
                            default model text, and a search for 'lorem ipsum' will uncover many web
                            sites still
                            in their infancy.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- post end -->
</div>